{% extends 'forum/base.html' %} {% block content %}

<style>
  .container a {
    font-weight: bold;
  }
  .container button {
    font-weight: bold;
  }
</style>
<div class="container p-5">
  <div class="row justify-content-center">
    <div class="col-12">
      <a class="btn btn-success m-4 text-light" href="/topics/new"
        >+ New Topic</a
      >
    </div>
    <div id="tableWrapper" class="col-12 border">
      <!-- <h1 class="text-center">this is bootstrap</h1> -->
      <!-- <div class="row border">
        <div class="col-3"><h4>Topics</h4></div>
      </div> -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th width="450px">Topic</th>
            <th>Created By</th>
            <th>Views</th>
            <th>Comments</th>
            <th>Last Comment</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for t in topics %}
          <tr>
            <td scope="row"><a href="/topics/{{t.id}}">{{ t.title }}</a></td>
            <td>{{ t.created_by.username }}</td>
            <td>{{ t.views }}</td>
            <td>{{ t.comments.count }}</td>
            <td>{{ t.comments.last.created_by.username }} 
              <a class="d-block" href="/topics/{{t.id}}?page={{t.last_page}}">{{ t.comments.last.elapsed_time.str }}</a></td>
            <td>
              {% if request.session.id == t.created_by.id %}<button
                class="btn-sm btn-outline-danger confirmButton"
                desc="delete topic '{{ t.title }}'"
                action="/topics/{{ t.id }}/delete"
              >
                Delete
              </button>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div id="confirmBox" class="p-2 bg-dark text-light">
        <h4>Are you sure you want to <span id="confirmDesc"></span>?</h4>
        <div class="buttonWrapper p-3 text-center mt-5">
          <button id="confirmY" class="button btn-danger p-3 mx-2">Yes</button>
          <button id="confirmN" class="button btn-secondary p-3 mx-2">
            No
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  
</script>
{% endblock %}
